.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-height: 260px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  cursor: pointer;
}

.container img {
  height: 70%;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  font-weight: bold;
  flex-direction: column;
}

.downtext {
  color: var(--color-blue);
}
